title = "Autoservisas 24"
url = "/home"
layout = "autoservisas"
is_hidden = 0
==
<!-- Section: intro -->
<section id="intro" class="intro">

    <div class="slogan">
        {% content 'welcome.htm' %}
    </div>
    <div class="page-scroll">
        <a href="#about" class="btn btn-circle">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </div>
</section>
<!-- /Section: intro -->

<!-- Section: about -->
<section id="about" class="home-section text-center">
    <div class="heading-about">
        <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-2">
                <h4>Darbo laikas:</h4>
                <p>Darbo dienomis	<br><strong>8.00-18.00</strong></p>
                <p>Šeštadienį	<br><strong>9.00-12.00</strong></p>
                <p><strong>Tel. +370 657 92106</strong></p>
                <h4>PRISIJUNKITE PRIE MŪSŲ</h4>

                <img src="/autoservisas24/storage/app/media/icons/social.png" alt="PRISIJUNKITE PRIE MŪSŲ | Facebook, Twitter and Linkedin" class="marginbot-20" />


                <h4>ATSISKAITYTI GALITE KREDITO KORTELĖMIS</h4>

                <img src="/autoservisas24/storage/app/media/you-can-pay-by-card.png" alt="ATSISKAITYTI GALITE KREDITO KORTELĖMIS | Maestro, MasterCard, Visa" />
                <img src="/autoservisas24/storage/app/media/icons/standard_iso9001_PAS43.gif" alt="ISO Standard" />
            </div>
            <div class="col-xs-12 col-lg-2 col-lg-push-8">

                <h4>Kaip mus rasti (žemėlapis)</h4>
                <p><strong>Mūsų adresas:</strong></p>
                <P>Akmenų g. 10, Klaipėda, <br>LT-92347 (Tauralaukio rajonas)</p>
                <p><strong>Tel. +370 657 92106</strong></p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.0769824156323!2d21.148444115545068!3d55.75716489912351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e4d922f9f0ce19%3A0x86adb696a3267cc!2sAkmen%C5%B3+g.+10%2C+Klaip%C4%97da+92347%2C+Lithuania!5e0!3m2!1sen!2suk!4v1469717784016" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-12 col-lg-8 col-lg-pull-2">
                <div class="wow bounceInDown" data-wow-delay="0.4s">
                    <div class="section-heading">
                        <h2>Apie mūs</h2>
                        <i class="fa fa-2x fa-angle-down"></i>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-lg-8 col-lg-pull-2">
                <img src="/autoservisas24/storage/app/media/icons/icon-strip.png" class="marginbot-30" />
                <p>Autoservisas24.pro atlieka diagnostiką ir profesionaliai remontuoja automobilius, įvairaus dydžio autobusus, krovininius automobilius, vilkikus, treilerius, įvairios paskirties puspriekabes, ekskavatorius. Taip pat remontuojame turistinius treilerius, arklių transportavimui skirtas priekabas, statybinės technikos agregatus, kasimo kaušus ir hidrauliką.</p>
                <div class="col-xs-4">
                    <img class="img-responsive" src="/autoservisas24/storage/app/media/happy_customer_and_friendly_technician.jpg" class="marginbot-30" />
                </div>
                <div class="col-xs-4">


                </div>
                <div class="col-xs-4">
                    <img class="img-responsive" src="/autoservisas24/storage/app/media/icons/computer-diagnostics.jpg" alt="computer diagnostics" />
                </div>


            </div>

            </div>
        </div>
    </div>

</section>
<!-- /Section: about -->


<!-- Section: services -->
<section id="service" class="home-section text-center">

    <div class="heading-about">
        <div class="container">
            {% content "Services.htm" %}
        </div>
    </div>
</section>
<!-- /Section: services -->




<!-- Section: contact -->
<section id="contact" class="home-section text-center">
    <div class="heading-contact">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow bounceInDown" data-wow-delay="0.4s">
                <div class="section-heading">
                <h2>Kontaktai</h2>
                <i class="fa fa-2x fa-angle-down"></i>

                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="container">

    <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
            <hr class="marginbot-50">
        </div>
    </div>
<div class="row">
    <div class="col-lg-8">
        <div class="boxed-grey">
            <form id="contact-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">
                            Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="email">
                            Email Address</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                            </span>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                    </div>
                    <div class="form-group">
                        <label for="subject">
                            Subject</label>
                        <select id="subject" name="subject" class="form-control" required="required">
                            <option value="na" selected="">Choose One:</option>
                            <option value="service">General Customer Service</option>
                            <option value="suggestions">Suggestions</option>
                            <option value="product">Product Support</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">
                            Message</label>
                        <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                            placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                        Send Message</button>
                </div>
            </div>
            </form>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="widget-contact">





            <h5>Mūsų adresas:</h5>

            <address>
              <strong>Akmenų g. 10, Klaipėda, </strong><br>
              LT-92347 (Tauralaukio rajonas)<br>
              Lithuania<br>
              <abbr title="Tel.">P:</abbr> +370 657 92106
            </address>

            <address>
              <strong>Email</strong><br>
              <a href="mailto:#">info@autoservisas24.pro</a>
            </address>
            <address>
              <strong>PRISIJUNKITE PRIE MŪSŲ</strong><br>
                    <ul class="company-social">
                        <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
            </address>

        </div>
    </div>
</div>

    </div>
</section>
<!-- /Section: contact -->