<!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    {{service.one.title}}
                </h3>
                <p>{{service.one.description}}</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    {{service.two.title}}
                </h3>
                <p>{{service.two.description}}</p>
            </div>

        </div>
        <!-- /.row -->
