<div class="col-md-2 hidden-xs">
    <img class="img-responsive" src="/autoservisas24/storage/app/media/icons/tools_and_gears.jpg" alt="brands" />
    <p><strong>If you would like to book a service for your vehicle, please use our <a href="#contact">online booking form</a> or call us on<br> +370 657 92106.</strong></p>
</div>
