[viewBag]
title = "Autoservisas 24"
url = "/auto"
layout = "autoservisas"
is_hidden = 0
navigation_hidden = 0
==
{% put inline_styles %}


{% endput %}

{% put inline_scripts %}


{% endput %}
==
<!-- Section: intro -->
<section class="intro" id="intro">
	<div class="slogan">

		<h2>Autoservisas 24</h2>

		<h4>Lengvųjų automobilių, vilkikų, krovininių automobilių ir puspriekabių remontas</h4>
	</div>
	<div class="page-scroll"><a class="btn btn-circle" href="#service"><i class="fa fa-angle-double-down animated"></i></a></div>
</section>
<!-- /Section: intro -->
<!-- Section: about -->
<section class="home-section text-center" id="about">
	<div class="heading-about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
						<div class="section-heading">

							<h2>About us</h2><i class="fa fa-2x fa-angle-down"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="0.2s">
					<div class="team boxed-grey">
						<div class="inner">

							<h5>Anna Hanaceck</h5>

							<p class="subtitle">Pixel Crafter</p>
							<div class="avatar"><img src="{{%20'assets/images/team/1.jpg'%7Ctheme%20}}" alt="" class="img-responsive img-circle fr-dib fr-draggable"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="0.5s">
					<div class="team boxed-grey">
						<div class="inner">

							<h5>Maura Daniels</h5>

							<p class="subtitle">Ruby on Rails</p>
							<div class="avatar"><img src="{{%20'assets/images/team/2.jpg'%7Ctheme%20}}" alt="" class="img-responsive img-circle fr-dib fr-draggable"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="0.8s">
					<div class="team boxed-grey">
						<div class="inner">

							<h5>Jack Briane</h5>

							<p class="subtitle">jQuery Ninja</p>
							<div class="avatar"><img src="{{%20'assets/images/team/3.jpg'%7Ctheme%20}}" alt="" class="img-responsive img-circle fr-dib fr-draggable"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="1s">
					<div class="team boxed-grey">
						<div class="inner">

							<h5>Tom Petterson</h5>

							<p class="subtitle">Typographer</p>
							<div class="avatar"><img src="{{%20'assets/images/team/4.jpg'%7Ctheme%20}}" alt="" class="img-responsive img-circle fr-dib fr-draggable"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Section: about -->
<!-- Section: services -->
<section class="home-section text-center bg-gray" id="service">
	<div class="heading-about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
						<div class="section-heading">

							<h2>Our Services</h2><i class="fa fa-2x fa-angle-down"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">{% content 'Services.htm' %}</div>
</section>
<!-- /Section: services -->
<!-- Section: contact -->
<section class="home-section text-center" id="contact">
	<div class="heading-contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
						<div class="section-heading">

							<h2>Get in touch</h2><i class="fa fa-2x fa-angle-down"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8">
				<div class="boxed-grey">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="name">Name</label>
								<input type="text" class="form-control" id="name" placeholder="Enter name" required="required">
							</div>
							<div class="form-group">
								<label for="email">Email Address</label>
								<div class="input-group">
									<input type="email" class="form-control" id="email" placeholder="Enter email" required="required">
								</div>
							</div>
							<div class="form-group">
								<label for="subject">Subject</label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
								<select class="form-control" id="subject" name="subject" required="required">
									<option selected="" value="na">Choose One:</option>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
									<option value="service">General Customer Service</option>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
									<option value="suggestions">Suggestions</option>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
									<option value="product">Product Support</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="name">Message</label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
								<textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<button class="btn btn-skin pull-right" id="btnContactUs" type="submit">Send Message</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="widget-contact">

					<h5>Main Office</h5><address><strong>Squas Design, Inc.</strong><br>Tower 795 Folsom Ave, Beautiful Suite 600<br>San Francisco, CA 94107<br><abbr title="Phone">P:</abbr> (123) 456-7890</address><address><strong>Email</strong><br><a href="mailto:#">email.name@example.com</a></address><address><strong>We're on social networks</strong><br><ul class="company-social"><li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li><li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li><li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li><li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li></ul></address></div>
			</div>
		</div>
	</div>
</section>
<!-- /Section: contact -->
