<!-- Projects Row -->
<div class="row">
	<div class="col-md-2 hidden-xs">
		<img class="img-responsive" src="/autoservisas24/storage/app/media/icons/brands.jpg" alt="brands" />
	</div>
	<div class="col-md-8 portfolio-item marginbot-40">
		<img src="/autoservisas24/storage/app/media/icons/Headicons-1.png" alt="Automobilių remontas" class="marginbot-20" />
		<h3>Automobilių remontas<br>&nbsp;</h3>
		<p>Autoservisas24.pro profesionaliai atlieka šiuos lengvųjų automobilių remonto darbus:</p>
		<img class="img-responsive fr-dib fr-draggable" src="/autoservisas24/storage/app/media/icons/Automobiliu-remontas.jpg" alt="Automobilių remontas">
		<ul>
			<li>Važiuoklės ir pakabos agregatų, pusašių, guolių, spyruoklių, antgalių, traukių keitimą;</li>
			<li>Stabdžių sistemos detalių: kaladėlių, cilindrų, stabdžių diskų, riebokšlių keitimą;</li>
			<li>Sankabos keitimą;</li>
			<li>Greičių dėžės keitimą;</li>
			<li>Visų kitų variklio agregatų ir detalių: starterių, generatorių, kaitinimo žvakių, variklio tarpinių, guolių, riebokšlių, alyvos, filtrų, dirželių, radiatorių, aušinimo sistemos detalių, guolių ir kt. keitimą.</li>
		</ul>

		<hr>
	</div>
	<div class="col-md-2 hidden-xs">
	    <img class="img-responsive" src="/autoservisas24/storage/app/media/icons/tools_and_gears.jpg" alt="brands" />
	    <p><strong>If you would like to book a service for your vehicle, please use our <a href="#contact">online booking form</a> or call us on<br> +370 657 92106.</strong></p>
	</div>
	<div class="col-md-8 col-md-push-2 portfolio-item marginbot-40">
		<img src="/autoservisas24/storage/app/media/icons/Headicons-1.png" alt="LENGVŲJŲ KROVININIŲ AUTOMOBILIŲ IR AUTOBUSŲ REMONTAS" class="marginbot-20" />
		<h3>Lengvųjų krovininių automobilių ir autobusų remontas</h3>
		<p>Autoservisas24.pro profesionaliai atlieka šiuos lengvųjų krovininių automobilių ir autobusų remonto darbus:</p>

		<img class="img-responsive fr-dib fr-draggable" src="/autoservisas24/storage/app/media/truck_repairs.jpg" alt="Lengvųjų krovininių automobilių ir autobusų remontas">


		<ul>
			<li>Važiuoklės ir pakabos agregatų, pusašių, guolių, spyruoklių, antgalių, traukių, amortizatorių, spyruoklių, stabilizatorių, trosų keitimą;</li>
			<li>Stabdžių sistemos detalių: kaladėlių, cilindrų, stabdžių diskų, riebokšlių keitimą;</li>
			<li>Sankabos keitimą;</li>
			<li>Greičių dėžės keitimą;</li>
			<li>Visų kitų variklio agregatų ir detalių: starterių, generatorių, kaitinimo žvakių, variklio tarpinių, guolių, riebokšlių, alyvos, filtrų, dirželių, radiatorių, aušinimo sistemos detalių, guolių ir kt. keitimą;</li>
			<li>ABS, EBS sistemų remontą;</li>
			<li>Kardano, kryžmių keitimą; duslintuvų remontą, lingių keitimą;</li>
			<li>Suvirinimo ir šaltkalvystės darbus;</li>
			<li>Kėlimo liftų remontą.</li>
		</ul>
		<img class="img-responsive fr-dib fr-draggable" src="/autoservisas24/storage/app/media/car_from_below.jpg" alt="Lengvųjų krovininių automobilių ir autobusų remontas">

		<hr>

	</div>
</div>
<!-- /.row -->
<!-- Projects Row -->
<div class="row">
	<div class="col-md-2 hidden-xs">
		<img class="img-responsive" src="/autoservisas24/storage/app/media/icons/brands.jpg" alt="brands" />
	</div>
	<div class="col-md-8 portfolio-item marginbot-40 well">
		<img src="/autoservisas24/storage/app/media/icons/Headicons-1.png" alt="Automobilių remontas" class="marginbot-20" />
		<h3>Vilkikų remontas</h3>
		<img class="img-responsive fr-dib fr-draggable" src="/autoservisas24/storage/app/media/Vilkiku-brands.jpg" alt="Vilkikų remontas">
		<p>Standartiniai šaltkalvystės darbai ir mechaniniai remonto darbai:</p>

		<ul>
			<li>	Visi paruošimo techninei apžiūrai darbai;</li>
			<li>	Stabdžių sistemos detalių, stabdžių cilindrų, kaladėlių, amortizatorių keitimas;
			<li>	Dirželių, riebokšlių, tarpinių, kryžmių, vamzdelių, laidų keitimas;</li>
			<li>	Sankabos, greičių dėžės, reduktorių, ratų guolių keitimas;</li>
			<li>	Starterių, generatorių, kompresorių, radiatorių keitimas;</li>
			<li>	Aliuminio, nerūdijančio plieno suvirinimas TIG ir MIG būdais;</li>
			<li>	Oro sistemos kranų, vamzdelių keitimas;</li>
			<li>	Tepimo taškų tepimas automatine įranga;</li>
			<li>	Kabinos detalių, veidrodėlių, laiptelių, spoilerių, durų keitimas;</li>
			<li>	Sėdynių remontas ir keitimas, kavos aparatų ir kt. įrangos įmontavimas;</li>
			<li>	Elektros apšvietimo žibintų remontas, keitimas</li>

		</ul>

		<hr>
	</div>

	<div class="col-md-2 hidden-xs">
    <img class="img-responsive" src="/autoservisas24/storage/app/media/icons/tools_and_gears.jpg" alt="brands" />
    <p><strong>If you would like to book a service for your vehicle, please use our <a href="#contact">online booking form</a> or call us on<br> +370 657 92106.</strong></p>
</div>

	<div class="col-md-8 col-md-push-2 portfolio-item marginbot-40">
		<img src="/autoservisas24/storage/app/media/icons/Headicons-1.png" alt="Automobilių remontas" class="marginbot-20" />
		<h3>Puspriekabių remontas</h3>
		<p>Aukščiausios klasės suvirinimo ir šaltkalvystės darbai:</p>
		<div class="row">


			<div class="col-xs-6">
				<img class="img-responsive fr-dib fr-draggable" src="/autoservisas24/storage/app/media/wheel.jpg" alt="Puspriekabių remontas">
			</div>
			<div class="col-xs-6">
				<img class="img-responsive fr-dib fr-draggable" src="/autoservisas24/storage/app/media/break_caliper.jpg" alt="Puspriekabių remontas">
			</div>
		</div>
		<div class="col-md-8 col-md-push-2 well">
			<ul>
				<li>	Aliuminio, nerūdijančio plieno suvirinimas TIG ir MIG būdais;</li>
				<li>	Pakabos remontas, pagalvių keitimas;</li>
				<li>	Rėmo suvirinimas, įtrūkimų panaikinimas, rėmo prailginimas;</li>
				<li>	Durų, durų rėmo, užraktų, vyrių keitimas ir restauracija;</li>
				<li>	Durų gamyba šaldytuvams ir tentams;</li>
				<li>	Amortizuojančių gumų keitimas, restauracija;</li>
				<li>	Durų rėmo keitimas, įlenkimų šalinimas;</li>
				<li>	Treilerio ašies keitimas;</li>
				<li>	Polingių ir lingių keitimas;</li>
				<li>	Treilerio kojų remontas, keitimas;</li>
				<li>	Treilerio grindų remontas, keitimas;</li>
				<li>	Treilerio termoizoliacinių sienų remontas, dažymas, keitimas;</li>
				<li>	Amortizatorių ir support’ų keitimas;</li>
				<li>	Kranų keitimas, ABS sistemos oro vamzdelių remontas, keitimas;</li>
				<li>	Guolių, stebulių, stabdžių diskų, support’ų ir kt. keitimas.</li>

			</ul>
		</div>

		<hr>
	</div>
</div>
<!-- /.row -->
<!-- Projects Row -->
<div class="row">
	<div class="col-md-2 hidden-xs">
		<img class="img-responsive" src="/autoservisas24/storage/app/media/icons/brands.jpg" alt="brands" />
	</div>
	<div class="col-md-8 portfolio-item marginbot-40 well">
		<img src="/autoservisas24/storage/app/media/icons/Headicons-1.png" alt="Automobilių remontas" class="marginbot-20" />
		<h3>Poavarinis kėbulo remontas, įlenkimų tvarkymas, perdažymas</h3>
		<p>Autoservisas24.pro jau 16 metų profesionaliai tvarko transporto priemones po avarijų. Turime reikiamą kvalifikaciją, naudojame tik profesionalias medžiagas.</p>

		<img class="img-responsive marginbot-20" style="min-width: 100%" src="/autoservisas24/storage/app/media/incident_repairs_1.png" alt="brands" />
		<img class="img-responsive marginbot-20" style="min-width: 100%" src="/autoservisas24/storage/app/media/incident_repairs_2.jpg" alt="brands" />
		<img class="img-responsive marginbot-20" style="min-width: 100%" src="/autoservisas24/storage/app/media/incident_repairs_3.png" alt="brands" />
		<img class="img-responsive marginbot-20" style="min-width: 100%" src="/autoservisas24/storage/app/media/incident_repairs_4.png" alt="brands" />
		<img class="img-responsive marginbot-20" style="min-width: 100%" src="/autoservisas24/storage/app/media/incident_repairs_5.png" alt="brands" />
		<img class="img-responsive marginbot-20" style="min-width: 100%" src="/autoservisas24/storage/app/media/incident_repairs_6.png" alt="brands" />



		<p>Paskambinkite <a href="tel:+37065792100">+370 657 92100</a> ir mes patys specialiu transportu paimsime jūsų automobilį iš įvykio vietos ir pristatysime į mūsų servisą Akmenų g. 10, Klaipėda, LT-92347 (Tauralaukio rajonas).</p>
		<hr>
	</div>

	<div class="col-md-2 hidden-xs">
    <img class="img-responsive" src="/autoservisas24/storage/app/media/icons/tools_and_gears.jpg" alt="brands" />
    <p><strong>If you would like to book a service for your vehicle, please use our <a href="#contact">online booking form</a> or call us on<br> +370 657 92106.</strong></p>
</div>

	<div class="col-md-8 col-md-push-2 portfolio-item marginbot-40">
		<img src="/autoservisas24/storage/app/media/icons/Headicons-1.png" alt="Automobilių remontas" class="marginbot-20" />
		<h3>Elektronikos testavimas ir diagnostika</h3>
		<p>Autoservisas24.pro specialistai elektronikos diagnostikos prietaisais nustato ir šalina elektros sistemos gedimus, atlieka kompiuterinę automobilio sistemų diagnostiką.</p>
		<img class="img-responsive fr-dib fr-draggable" style="min-width:50%; margin-left: auto; margin-right: auto;" src="/autoservisas24/storage/app/media/computer_diagnostics_2.jpg" alt="">

		<div class="col-md-8 col-md-push-2">
		<ul>
			<li>	Įvairių tipų komercinių ir lengvųjų automobilių diagnostika;</li>
			<li>	Klaidų šalinimas, remontas.</li>
			<li>	Kvalifikuotų specialistų konsultacijos.</li>
		</ul>
		<hr>
	</div>
	</div>
</div>
<!-- /.row -->
<!-- Projects Row -->
<div class="row">
	<div class="col-md-2 hidden-xs">
		<img class="img-responsive" src="/autoservisas24/storage/app/media/icons/brands.jpg" alt="brands" />
	</div>
	<div class="col-md-8 portfolio-item marginbot-40">
		<img src="/autoservisas24/storage/app/media/icons/Headicons-1.png" alt="Automobilių remontas" class="marginbot-20" />
		<h3>Oro kondicionierių pildymas, patikra ir remontas</h3>
		<a href="#"><img class="img-responsive fr-dib fr-draggable" src="/autoservisas24/storage/app/media/cooling_diagram.jpg" alt=""></a>
		<p>Įvairių tipų lengvųjų ir krovininių automobilių oro kondicionierių aptarnavimas:</p>

		<ul>
			<li>	Oro kondicionierių aptarnavimo servisas;</li>
			<li>	Freono nutekėjimo, sistemos sandarumo patikra;</li>
			<li>	Freono išsiurbimas, sistemos vakuumavimas;</li>
			<li>	Kondicionierių siurblių keitimas ir remontas;</li>
			<li>	Sistemos užpildymas freono dujomis.</li>
		</ul>
		<hr>

	</div>

	<div class="col-md-2 hidden-xs">
    <img class="img-responsive" src="/autoservisas24/storage/app/media/icons/tools_and_gears.jpg" alt="brands" />
    <p><strong>If you would like to book a service for your vehicle, please use our <a href="#contact">online booking form</a> or call us on<br> +370 657 92106.</strong></p>
</div>

	<div class="col-md-8 col-md-push-2 portfolio-item marginbot-40">
		<img src="/autoservisas24/storage/app/media/icons/Headicons-1.png" alt="Automobilių remontas" class="marginbot-20" />
		<h3>Lengvųjų automobilių ir sunkvežimių detalių užsakymas</h3>
		<p>Užsakome visų automobilių tipų detales, pristatome iki kitos dienos ryto.</p>
		<p>Specifines detales, kurių neturime sandėlyje, pristatome per 24 valandas.</p>
		<a href="#"><img class="img-responsive fr-dib fr-draggable" src="/autoservisas24/storage/app/media/portfolio.jpg" alt=""></a>

		<hr>


	</div>
</div>
<!-- /.row -->
